In [1]:
import pandas as pd

In [29]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [30]:
low7 = df[['Y2017', 'Area']]
low7 = low7.groupby('Area').sum()
low7 = low7.nsmallest(7, columns='Y2017')
low7

                          Y2017
Area
Ethiopia PDR               0.00
Sudan (former)             0.00
Comoros                   59.84
Seychelles               442.34
Sao Tome and Principe  12662.63
Cabo Verde             14650.74
Guinea-Bissau          19102.77

In [33]:
selected = df[['Y2017', 'Element']]
selected = selected.groupby('Element').sum()
selected

                                             Y2017
Element
Domestic supply quantity                2088198.10
Export Quantity                          182338.80
Fat supply quantity (g/capita/day)        10253.84
Feed                                     223705.68
Food                                    1258888.28
Food supply (kcal/capita/day)            454681.00
Food supply quantity (kg/capita/yr)       48690.04
Import Quantity                          294559.09
Losses                                   160614.00
Other uses (non-food)                     91645.97
Processing                               292836.00
Production                              2030056.89
Protein supply quantity (g/capita/day)    11842.45
Residuals                                 35500.00
Seed                                      24870.14
Stock Variation                           54316.91
Total Population - Both sexes           1112641.00
Tourist consumption                          91.00

In [43]:
df14 = df['Y2014']
miss14 = df14.isnull().sum()
miss_perc = round(miss14 / len(df14) * 100, 3)
print(miss14)
print(miss_perc)

1589
2.607

In [49]:
len(df['Area'].unique())

49

In [64]:
prot15 = df[['Area', 'Element', 'Y2015']]
prot15 = prot15.loc[prot15['Element'] == 'Protein supply quantity (g/capita/day)']
prot15 = prot15.loc[prot15['Area'] == 'Madagascar']
prot15['Y2015'].sum()

173.04999999999998